.project-item__container {
  box-sizing: border-box;
  width: 100%;
  max-width: 35rem;
  height: 25rem;
  perspective: 1500px;
  display: inline-block;
  opacity: 1;
  user-select: none;
}

.project-item__card {
  width: 100%;
  height: 100%;
  transition: transform 1s ease-in-out;
  transform-style: preserve-3d;
  position: relative;
}

.project-item__card:hover {
  transform: rotateY(180deg);
}

.project-item__card-face {
  position: absolute;
  width: 100%;
  height: 100%;
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
  overflow: hidden;
  border-radius: 5px;
  box-shadow: 0 3px 10px 3px rgba(0, 0, 0, 0.2);
  display: flex;
  justify-content: center;
  align-items: center;
}

.project-item__card-face--front {
  /* background-color: var(--card-bg-border); */
  background-color: white;
  width: 100%;
}

.project-item__card-face--back {
  background-color: white;
  transform: rotateY(180deg);
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding: 2rem;
  color: var(--text-dark);
}

.project-item__description {
  font-size: 2rem;
}

.project-item__technologies {
  display: flex;
  flex-wrap: wrap;
  width: 100%;
  margin-top: auto;
  padding: 1rem;
  justify-content: space-evenly;
  align-items: center;
  position: relative;
}

.project-item__technologies::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 1px;
  background-color: lightgrey;
}

.project-item__technologies::after {
  content: "";
  position: absolute;
  bottom: -1px;
  left: 0;
  width: 100%;
  height: 1px;
  background-color: lightgrey;
}

.project-item__technology {
  padding: 1rem 2rem;
  margin: 5px 2px;
  border-radius: 100px;
  font-size: 1.4rem;
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.2);
}

.project-item__links {
  display: flex;
  width: 100%;
  padding: 1rem 2rem 0 2rem;
  justify-content: space-evenly;
  align-items: center;
}

.project-item__link:link,
.project-item__link:visited {
  font-size: 1.5rem;
  z-index: 3;
}

.project-item__link-content {
  display: flex;
  justify-content: center;
  align-items: center;
}

.link-icon {
  height: 2.5rem;
  width: 2.5rem;
  margin-right: 1rem;
}

.project-item__image {
  width: 100%;
  height: 100%;
  object-fit: cover;
  display: block;
}

.project-item__name {
  position: absolute;
  left: 0;
  bottom: 0;
  height: 40%;
  width: 100%;
  background-color: rgba(0, 0, 190, 0.658);
  color: var(--text-light);
  clip-path: polygon(0 40%, 100% 0, 100% 100%, 0 100%);
  padding-top: 45px;
  padding-right: 30px;
  text-align: end;
  font-size: 2.5rem;
  font-weight: 600;
  font-family: var(--font-title);
  letter-spacing: 2px;
  opacity: 1;
  transition: opacity 0.5s 0.5s, visibility 0s;
}

.project-item__card:hover .project-item__name {
  transition: opacity 1s, visibility 0s 1s;
  opacity: 0;
  visibility: hidden;
}
