:root {
	--color-primary: rgb(44, 49, 214);
	--color-primary-light: rgb(0, 113, 250);
	--color-primary-dark: rgb(0, 0, 111);
	--text-dark: rgb(0, 3, 20);
	--text-light: rgb(230, 255, 255);
}

*,
*::after,
*::before {
	margin: 0;
	padding: 0;
	box-sizing: inherit;
}

html {
	box-sizing: border-box;
	font-size: 62.5%;
	scroll-behavior: smooth;
}

body {
	font-family: sans-serif;
	font-weight: 300;
}

.container {
	display: grid;
	grid-template-columns:
		[sidebar-start] 20rem [sidebar-end full-start] minmax(6rem, 1fr)
		[center-start] repeat(
			8,
			[col-start] minmax(min-content, 14rem) [col-end]
		)
		[center-end] minmax(6rem, 1fr) [full-end];
	grid-row: repeat(4, minmax(1fr, min-content));
}

.about,
.skills,
.projects,
.contact {
	grid-column: full-start 1 / full-end;
	height: 100vh;
}

.about {
	background-color: khaki;
}

.skills {
	background-color: lawngreen;
}

.projects {
	background-color: lightcoral;
}

.contact {
	background-color: lightslategray;
}
