@import url("https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&family=Nunito:ital,wght@0,300;0,600;0,700;0,900;1,300;1,600;1,700;1,900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,200;0,300;0,500;0,700;0,900;1,200;1,300;1,500;1,700;1,900");

:root {
  --color-primary: rgb(44, 49, 214);
  --color-primary-light: rgb(0, 113, 250);
  --color-primary-light-2: rgb(79, 158, 255);
  --color-primary-dark: rgb(0, 0, 111);
  --text-dark: rgb(0, 3, 20);
  --text-light: rgb(230, 255, 255);
  --font-text: "Montserrat", sans-serif;
  --font-title: "Montserrat", sans-serif;
  --font-navbar: "Nunito", sans-serif;
}

*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}

html {
  box-sizing: border-box;
  font-size: 62.5%;
  scroll-behavior: smooth;
}

body {
  font-family: var(--font-text);
  font-weight: 300;
}

.container {
  display: grid;
  grid-template-columns:
    [sidebar-start] 20rem [sidebar-end full-start] minmax(6rem, 1fr)
    [center-start] repeat(8, [col-start] minmax(min-content, 14rem) [col-end])
    [center-end] minmax(6rem, 1fr) [full-end];
  grid-template-rows: repeat(5, minmax(1fr, max-content));
}

.about {
  grid-column: full-start 1 / full-end;
}

.technologies {
  /* background-color: lawngreen; */
  grid-column: col-start 1 / col-end 8;
  margin-top: -10vh;
  padding: 15vh 0;
}

.projects {
  grid-column: full-start 1 / full-end;
  margin-top: -10vh;
}

.contact {
  grid-column: full-start 1 / full-end;
  padding: 5rem;
}

.footer {
  grid-column: full-start 1 / full-end;
}

@media (max-width: 900px) {
  html {
    font-size: 55%;
  }
}

@media (max-width: 700px) {
  .container {
    grid-template-columns:
      [full-start] minmax(6rem, 1fr)
      [center-start] repeat(8, [col-start] minmax(min-content, 14rem) [col-end])
      [center-end] minmax(6rem, 1fr) [full-end];
    grid-template-rows: repeat(6, max-content);
  }
}
